/* section css */
#title {
    background: #000000;
}

#photo1 {
    background: #000000;
    z-index: 1
}

#photo2 {
    background: #000000;
}
/* --- */

li{
    margin: 15px 0;
}

p {
    color: #bdbdbd;
    font-size: 1.7rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    color: white
}

/* ---navbar--- */
.navbar {
    padding: 0 0 4.5rem;
}

.bg-dark {
    opacity: 0.75;
}

.pad-3-5 {
    padding: 0% 10%;
}

/* text styles */
.text-bottom-right {
    position: absolute;
    bottom:0;
    right: 0;
}

/* padding options for container-fluid */
.pad-7-13-5 {
    padding: 7% 13% 5%;
}

.pad-3-10 {
    padding: 3% 10%;
}

.pad-5-0 {
    padding: 3% 0% 3%;
}

.pad-photo-text {
    padding: 12% 0%
}

.pad-photo-intro {
    padding: 3% 0%;
}

/* alignment/justify */
.bottom-right {
    position: absolute;
    bottom:0;
    right: 0;
}

/* background colors */
.bg-blk-op06 {
    opacity: 0.6;
    background-color: #000000;
}

.bg-black {
    background-color: #000000;
}

/* div styles */
.bg-grad-right-tint {
    background-image: linear-gradient(to right, #42424265 , #00000000);
}

.photo-end {
    height: 15rem;
    width: auto;
    /* background-image: linear-gradient(to right, #00000065 , #00000000); */
    background-image: linear-gradient(to top, #000000 , #00000000);
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.photo-spacer {
    height: 100px;
    width: auto;
    background-color: #000000;
    position: relative;
    z-index: 1;
}

.test-div {
    background-color: turquoise;
    height: 2000px;
    width: auto;
}

/* image styles */
.img-title{
	width:100%;
	height:100%;
    position:relative;
    z-index: 0;
}

.img-photo{
    width: 67%;
    height: 67%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.change-ratio {
  margin:-22% 0;
}
/* z-index */
.zi-abs {
    position: absolute;
}

.zi-rel {
    position: relative;
}

.zi-n1 {
  z-index: -1;
}

.zi-0 {
  z-index: 0;
}

.zi-0 {
    z-index: 0;
}

.zi-1 {
    z-index: 1;
}

.zi-2 {
    z-index: 2;
}

.zi-3 {
    z-index: 3;
}

.zi-10 {
    z-index: 10;
}
/* scroll indicator */
.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .arrow {
    position: relative;
    top: -40px;
    width: 10px;
    height: 82px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .arrow_line {
    width: 2px;
    height: 80px;
    background: white;
    animation: height 2.5s ease-in infinite;
  }
  
  .arrow_tip-wrapper {
    position: relative;
    top: 77px;
    left: -1px;
    animation: arrow-tip 2.5s ease-in infinite;
  }
  
  .arrow_tip {
    width: 2px;
    height: 6px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
    left: 2px;
  }
  
  .arrow_tip.left {
    transform: rotate(-45deg);
    left: -2px;
  }
  
  @keyframes grow {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.0);
      opacity: 0;
    }
    100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes height {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(110%);
    }
    100% {
      transform: translateY(110%);
    }
  }
  
  @keyframes arrow-tip {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(-1px);
    }
    85% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

/* photo scroll animation */
.scroll-container {
    z-index: 2;
  }
  
.scroll-img {
    top: 4rem;
}

/* photo animation */
.js-scroll {
    opacity: 0;
    transition: opacity 2500ms;
}
  
.js-scroll.scrolled {
opacity: 1;
}